In [1]:
import pandas as pd

import joblib
from sklearn.svm import SVC

In [3]:
df=pd.read_csv('smoking.csv')
df.head()

,ID,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),...,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,oral,dental caries,tartar,smoking
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,12.9,1.0,0.7,18.0,19.0,27.0,Y,0,Y,0
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,12.7,1.0,0.6,22.0,19.0,18.0,Y,0,Y,0
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,15.8,1.0,1.0,21.0,16.0,22.0,Y,0,N,1
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,14.7,1.0,1.0,19.0,26.0,18.0,Y,0,Y,0
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,12.5,1.0,0.6,16.0,14.0,22.0,Y,0,N,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55692 entries, 0 to 55691
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   55692 non-null  int64
 1   gender               55692 non-null  object
 2   age                  55692 non-null  int64
 3   height(cm)           55692 non-null  int64
 4   weight(kg)           55692 non-null  int64
 5   waist(cm)            55692 non-null  float64
 6   eyesight(left)       55692 non-null  float64
 7   eyesight(right)      55692 non-null  float64
 8   hearing(left)        55692 non-null  float64
 9   hearing(right)       55692 non-null  float64
 10  systolic             55692 non-null  float64
 11  relaxation           55692 non-null  float64
 12  fasting blood sugar  55692 non-null  float64
 13  Cholesterol          55692 non-null  float64
 14  triglyceride         55692 non-null  float64
 15  HDL                  55692 non-null  float64
 16  LDL                  55692 non-null  float64
 17  hemoglobin           55692 non-null  float64
 18  Urine protein        55692 non-null  float64
 19  serum creatinine     55692 non-null  float64
 20  AST                  55692 non-null  float64
 21  ALT                  55692 non-null  float64
 22  Gtp                  55692 non-null  float64
 23  oral                 55692 non-null  object
 24  dental caries        55692 non-null  int64
 25  tartar               55692 non-null  object
 26  smoking              55692 non-null  int64
dtypes: float64(18), int64(6), object(3)
memory usage: 11.5+ MB

In [5]:
df.shape

(55692, 27)

In [6]:
df=df.head(100)

In [7]:
df.shape

(100, 27)

In [8]:
trainLabel = df['smoking']
trainData = df.drop(['ID','gender','oral','tartar'],axis=1)

In [9]:
trainData.columns

Index(['age', 'height(cm)', 'weight(kg)', 'waist(cm)', 'eyesight(left)',
       'eyesight(right)', 'hearing(left)', 'hearing(right)', 'systolic',
       'relaxation', 'fasting blood sugar', 'Cholesterol', 'triglyceride',
       'HDL', 'LDL', 'hemoglobin', 'Urine protein', 'serum creatinine', 'AST',
       'ALT', 'Gtp', 'dental caries', 'smoking'],
      dtype='object')

In [10]:
#Now , we will use the our training data to 
model = SVC(probability=True).fit(trainData, trainLabel)

In [16]:
joblib.dump(model, 'smokingModel.pkl')

['smokingModel.pkl']

In [12]:
# Analysis for Streamlit field level control
trainData.agg({'age': ['mean', 'min', 'max']})

       age
mean  42.4
min   20.0
max   80.0

In [13]:
trainData.agg({'height(cm)': ['mean', 'min', 'max']})

      height(cm)
mean      166.05
min       140.00
max       190.00

In [14]:
trainData.agg({'weight(kg)': ['mean', 'min', 'max']})

      weight(kg)
mean        66.0
min         45.0
max        100.0

In [15]:
trainData.agg({'waist(cm)': ['mean', 'min', 'max']})

      waist(cm)
mean     81.351
min      59.000
max     108.000

In [16]:
trainData.agg({'eyesight(left)': ['mean', 'min', 'max']})

      eyesight(left)
mean           1.002
min            0.100
max            1.500

In [17]:
# eyesight(right)
trainData.agg({'eyesight(right)': ['mean', 'min', 'max']})

      eyesight(right)
mean            0.997
min             0.100
max             1.500

In [19]:
# hearing(left)
trainData.agg({'hearing(left)':['mean','min','max']})

      hearing(left)
mean           1.02
min            1.00
max            2.00

In [20]:
# hearing(right)
trainData.agg({'hearing(right)':['mean','min','max']})

      hearing(right)
mean            1.02
min             1.00
max             2.00

In [21]:
# systolic
trainData.agg({'systolic':['mean','min','max']})

      systolic
mean    120.86
min      95.00
max     160.00

In [22]:
# relaxation
trainData.agg({'relaxation':['mean','min','max']})

      relaxation
mean       75.28
min        52.00
max        96.00

In [23]:
# fasting blood sugar
trainData.agg({'fasting blood sugar':['mean','min','max']})

      fasting blood sugar
mean                 97.0
min                  70.0
max                 188.0

In [24]:
# Cholesterol
trainData.agg({'Cholesterol':['mean','min','max']})

      Cholesterol
mean       197.72
min        116.00
max        322.00

In [25]:
# triglyceride
trainData.agg({'triglyceride':['mean','min','max']})

      triglyceride
mean        122.77
min          47.00
max         318.00

In [26]:
# HDL
trainData.agg({'HDL':['mean','min','max']})

         HDL
mean   57.27
min    30.00
max   102.00

In [27]:
# LDL
trainData.agg({'LDL':['mean','min','max']})

         LDL
mean  115.65
min    43.00
max   226.00

In [28]:
# hemoglobin
trainData.agg({'hemoglobin':['mean','min','max']})

      hemoglobin
mean      14.763
min       11.600
max       17.900

In [29]:
# Urine protein
trainData.agg({'Urine protein':['mean','min','max']})

      Urine protein
mean           1.07
min            1.00
max            4.00

In [30]:
# serum creatinine
trainData.agg({'serum creatinine':['mean','min','max']})

      serum creatinine
mean             0.871
min              0.500
max              1.300

In [31]:
# AST
trainData.agg({'AST':['mean','min','max']})

        AST
mean  24.23
min   13.00
max   60.00

In [32]:
# ALT
trainData.agg({'ALT':['mean','min','max']})

         ALT
mean   25.51
min     9.00
max   114.00

In [33]:
# Gtp
trainData.agg({'Gtp':['mean','min','max']})

         Gtp
mean   37.39
min     8.00
max   305.00

In [34]:
# dental caries
trainData.agg({'dental caries':['mean','min','max']})

      dental caries
mean           0.22
min            0.00
max            1.00

In [35]:
# smoking
trainData.agg({'smoking':['mean','min','max']})

      smoking
mean     0.43
min      0.00
max      1.00